{% assign recommendations = page.recommendedContent %}
{% if recommendations.size > 0 %}
<hr />
<h2>Recommended Content</h2>
<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
    {% for item in recommendations %}
    {% assign collection = site.collections | where: "label", item.collection | first %}
    {% assign foundDoc = collection.docs | where: "path", item.path | first %}
    {% if foundDoc != null %}
    <li class="align-items-center">
        <div class="alert alert-info" role="alert">
            <a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ foundDoc.title }}</a>
            <p>{{ foundDoc.description }}</p>
        </div>
    </li>
    {% else %}
    notFound: {{item.path}}
    {% endif %}
    {% endfor %}
</ul>
{% endif %}