<div class="flex-shrink-0 p-3" style="width: 280px;">
    <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Getting Started</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{{site.baseurl}}/" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
          </ul>
      </li>
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Strategies</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% assign pages = site.pages | where: "pageType", "strategy" | where: "includeInSidebar", true %}
            {% for page in pages %}
            <li class="align-items-center"><a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ page.title }}</a>&nbsp;<small>{% if page.pageStatus != "production" %}<i class="fa-regular {% if page.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>{% endif %}</small></li>
            {% endfor %}
            {% if pages == empty %}
            <li class="align-items-center">Working on it</li>
            {% endif %}
          </ul>
      </li>
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Recipes</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% assign pages = site.pages | where: "pageType", "recipe" | where: "includeInSidebar", true %}
            {% for page in pages %}
            <li class="align-items-center d-flex">
              <a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ page.title }}</a>
              <small>{% if page.pageStatus != "production" %}<i class="fa-regular {% if page.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>{% endif %}</small>
            </li>
            {% endfor %}
            {% if pages == empty %}
            <li class="align-items-center">Working on it</li>
            {% endif %}
          </ul>
      </li>
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Workshops</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% assign pages = site.pages | where: "pageType", "workshop" | where: "includeInSidebar", true %}
            {% for page in pages %}
            <li class="align-items-center"><a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ page.title }}</a><small>{% if page.pageStatus != "production" %}<i class="fa-regular {% if page.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>{% endif %}</small></li>
            {% endfor %}
            {% if pages == empty %}
            <li class="align-items-center">Working on it</li>
            {% endif %}
          </ul>
      </li>
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Technologies</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% assign pages = site.pages | where: "pageType", "technology" | where: "includeInSidebar", true %}
            {% for page in pages %}
            <li class="align-items-center"><a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ page.title }}</a>&nbsp;<small>{% if page.pageStatus != "production" %}<i class="fa-regular {% if page.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>{% endif %}</small></li>
            {% endfor %}
            {% if pages == empty %}
            <li class="align-items-center">Working on it</li>
            {% endif %}
          </ul>
      </li>
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Practices</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% assign pages = site.pages | where: "pageType", "practice" | where: "includeInSidebar", true %}
            {% for page in pages %}
            <li class="align-items-center"><a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ page.title }}</a>&nbsp;<small>{% if page.pageStatus != "production" %}<i class="fa-regular {% if page.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>{% endif %}</small></li>
            {% endfor %}
            {% if pages == empty %}
            <li class="align-items-center">Working on it</li>
            {% endif %}
          </ul>
      </li>
      <li class="mb-1">
        <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">Guides</strong>
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {% assign pages = site.pages | where: "pageType", "guide" | where: "includeInSidebar", true %}
            {% for page in pages %}
            <li class="align-items-center"><a href="{{ site.baseurl }}{{ page.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ page.title }}</a>&nbsp;<small>{% if page.pageStatus != "production" %}<i class="fa-regular {% if page.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>{% endif %}</small></li>
            {% endfor %}
            {% if pages == empty %}
            <li class="align-items-center">Working on it</li>
            {% endif %}
          </ul>
      </li>      
      <li class="border-top my-3"></li>
    </ul>
  </div>

  