{% assign collection = site.collections | where: "label", include.collection | first %}
<li class="mb-1">
  <a  href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded"
              data-bs-toggle="collapse"
              data-bs-target="#{{include.collection}}-collapse"
              aria-expanded="false"><strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">{{ include.collection | capitalize_all }}</strong></a>
    <div class="collapse" id="{{include.collection}}-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-2 small">
  {% assign overview = site.pages | where: "pageType", "index" | where: "indexForCollection", include.collection   | first %}
  {% if overview != null %}
  <li class="align-items-center">
  <a href="{{ site.baseurl }}{{overview.url}}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a>
</li>
  {% endif %}
  {% if collection != null %}
    {% assign items = collection.docs | where: "category", null | where: "pageStatus", "published" | sort: "importance" | reverse %}
      {% assign items = collection.docs | where: "pageStatus", "published" | where: "category", null | sort: "importance" | reverse %}
      {% if items != empty %}
                {% for item in items %}
                  <li class="align-items-center">
                    <a href="{{ site.baseurl }}{{ item.url }}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">{{ item.title }}</a>&nbsp;<small>
                      {% if item.pageStatus != "production" %}
                        <i class="fa-regular {% if item.pageStatus == null %}fa-triangle-exclamation{% else %}fa-circle-exclamation{% endif %}"></i>
                      {% endif %}
                    </small>
                  </li>
                {% endfor %}
      {% endif %}
  {% else %}
    <p>No items in collection</p>
  {% endif %}
</ul>
</div>
</li>
