.mainContainer
{
    max-width: 1768px;
    margin-left: auto;
    margin-right: auto;
}

.bg-brand-primary
{
    background-color: #713183;
}

.bg-brand-menu
{
    background-color: #43464c;
}

.responsiveImage {
    width: 100%;
    max-width: 800px;
    height: auto;
  }

.mainContent img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }


blockquote {
    
    border-left: .25rem solid #f68e9d;
    background-color: aliceblue;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 50%;
}